@model IQueryable<GreenFlowers.Models.GF_Product>
@using GreenFlowers.Models
@{
    ViewBag.Title = "EditProduct";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    GreenFlowersEntities db = new GreenFlowersEntities();
    var lst = db.GF_Category.ToList();
}

<div class="main-wrapper">
    <div class="container">

        <!-- Start breadcrumb section  -->
        <div class="row">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/webmaster/index">Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Quản lý Sản phẩm</li>
                    </ol>
                </nav>
            </div>
        </div>

        <!-- Start form -->
        <div class="form-area">
            <div class="row">

                <div class="col-lg-12">
                    <div class="single-form">
                        <div class="section-head">
                            <div class="title">
                                <h4>Chỉnh sửa Sản phẩm</h4>
                            </div>
                        </div>

                        <div class="section-body">
                            <form action="/webmaster/editproduct" method="post" enctype="multipart/form-data">

                                <input type="text" class="form-control" placeholder="" name="id" value="@Model.FirstOrDefault().ID" style="display:none">
                                <div class="form-group">
                                    <label for="exampleFormControlInput4">Tên sản phẩm</label>
                                    <input type="text" class="form-control" placeholder="" name="name" value="@Model.FirstOrDefault().ProductName">
                                </div>

                                <div class="form-group">
                                    <label for="exampleFormControlInput4">Giá</label>
                                    <input style="width:20%" type="number" class="form-control" placeholder="" name="price" step="any" value="@Model.FirstOrDefault().Price">
                                </div>

                                <div class="form-group">
                                    <label for="exampleFormControlInput4">Giá giảm</label>
                                    <input type="checkbox" name="discountprice" data-toggle="collapse" data-target="#discount" step="any">
                                    <input style="width:20%" id="discount" type="number" class="form-control collapse" name="discountprice" step="any" value="@Model.FirstOrDefault().DiscountPrice">
                                </div>

                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Danh mục</label>
                                    <select name='category' class='form-control'>
                                        @foreach (var item in lst)
                                        {
                                            <option value="@item.ID">@item.Category</option>
                                        }

                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="exampleFormControlFile1">Avatar</label>
                                    <br />
                                    <input type="file" name="avatar" accept="image/*" />
                                    <img src="~/Images/product/avatar/@Model.FirstOrDefault().Avatar" style="width:100%" />
                                </div>
                                @if (Model.FirstOrDefault().Images != null)
                                {
                                    if (Model.FirstOrDefault().Images.Contains(","))
                                    {
                                        string[] arrStr = Model.FirstOrDefault().Images.ToString().Split(',');
                                        <div class="form-group">
                                            <label for="exampleFormControlFile1">Images</label>
                                            <br />
                                            <input type="file" name="images" accept="image/*" multiple="multiple" />
                                            @foreach (var img in arrStr)
                                            {
                                                <img src="~/Images/product/image/@img" />
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group">
                                            <label for="exampleFormControlFile1">Hình ảnh</label>
                                            <br />
                                            <input type="file" name="images" accept="image/*" multiple="multiple" />
                                            <img src="~/Images/product/image/@Model.FirstOrDefault().Images" />
                                        </div>
                                    }

                                }
                                else
                                {
                                    <div class="form-group">
                                        <label for="exampleFormControlFile1">Hình ảnh</label>
                                        <br />
                                        <input type="file" name="images" accept="image/*" multiple="multiple" />
                                    </div>
                                }
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Mô tả</label>
                                    <br />
                                    <textarea name="editor" id="editor" rows="50" cols="80">@Model.FirstOrDefault().Description</textarea>
                                </div>

                                @*<div class="form-group">
                                    <label class="form-check-label"><input type="checkbox" name="hide" value="true" />Hide</label>
                                </div>*@

                                <button class="btn btn-primaryt">Lưu</button>
                            </form>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<script src="~/Content/Webmaster/js/ckeditor/ckeditor.js"></script>
<script src="~/Content/Webmaster/js/ckeditor/samples/js/sample.js"></script>
<script>
    CKEDITOR.replace('editor');
</script>



