@model IQueryable<GreenFlowers.Models.GF_Blog>
    @using GreenFlowers.Models
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    GreenFlowersEntities db = new GreenFlowersEntities();
    var lst = db.GF_Blog.ToList();
}

<div class="breadcrumb-area gray-bg">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="index.html">Trang chủ</a></li>
                <li class="active">Bài viết</li>
            </ul>
        </div>
    </div>
</div>
<!-- blog-area start -->
<div class="blog-area ptb-75">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-xl-9 col-md-8">
                <div class="blog-details-wrapper">
                    <div class="single-blog-wrapper">
                        <div class="blog-img mb-30">
                            <img src="~/Images/blog/@Model.FirstOrDefault().Avatar" alt="">
                        </div>
                        <div class="blog-content">
                            <h2>@Model.FirstOrDefault().Title </h2>
                            <div class="blog-date-categori">
                                <ul>
                                    <li>@Model.FirstOrDefault().CreatedDate </li>
                                    <li>@Model.FirstOrDefault().CreatedBy</li>
                                </ul>
                            </div>
                        </div>
                       @Html.Raw(Model.FirstOrDefault().ContentBlog)
                        </div>
                        <div class="administrator-wrapper">
                            <div class="administrator-img">
                                <img src="~/Images/blog/blog-administrator.png" alt="">
                            </div>
                            <div class="administrator-content">
                                <h4>@Model.FirstOrDefault().CreatedBy</h4>
                                @*<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolor magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea coma consequat. Duis aute irure dolor in reprehenderit</p>*@
                            </div>
                        </div>
                    </div>                
                </div>
            <div class="col-lg-4 col-xl-3 col-md-4">
                <div class="blog-sidebar-wrapper sidebar-mrg">
                    <div class="blog-widget mb-50">
                        <div class="blog-search">
                            <form class="news-form" method="get" action="/blog/search">
                                <input type="text" placeholder="Tìm....." name="content">
                                <button type="submit">
                                    <i class="ion-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="blog-widget mb-40">
                        <div class="blog-author">
                            <a href="#"><img src="~/Images/blog/blog-author.png" alt=""></a>
                            <h4><a href="#">ADMIN</a></h4>
                            <span>ADMIN Website</span>
                        </div>
                    </div>
                    <div class="blog-widget mb-45">
                        <h4 class="blog-widget-title mb-25">Bài viết khác</h4>
                        <div class="blog-recent-post">
                            @foreach (var item in lst)
                            {
                                <div class="recent-post-wrapper mb-25">
                                    <div class="recent-post-img">
                                        <a href="/blog/details/@item.ID"><img src="~/Images/blog/@item.Avatar" alt=""></a>
                                    </div>
                                    <div class="recent-post-content">
                                        <h4><a href="/blog/details/@item.ID">@item.Title</a></h4>
                                        <span>@item.CreatedDate</span>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>                 
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog-area end -->

