@model IQueryable<GreenFlowers.Models.GF_Product>
@using GreenFlowers.Models
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    GreenFlowersEntities db = new GreenFlowersEntities();
    var lst = db.GF_Product.ToList();
    var id = Model.FirstOrDefault().IDCategory;
    var name = db.GF_Category.Where(s=>s.ID==id).FirstOrDefault().Category;
}

<div class="breadcrumb-area gray-bg">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="/home/index">Home</a></li>
                <li class="active">Chi tiết sản phẩm </li>
            </ul>
        </div>
    </div>
</div>
<div class="product-details pt-75 pb-65">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="product-details-img">
                    <img class="zoompro" src="/Images/product/avatar/@Model.FirstOrDefault().Avatar" data-zoom-image="/Images/product/avatar/@Model.FirstOrDefault().Avatar" alt="zoom" />
                    <div id="gallery" class="mt-20 product-dec-slider owl-carousel">
                        <a data-image="~/Images/product-details/product-detalis-l1.jpg" data-zoom-image="~/Images/product-details/product-detalis-bl1.jpg">
                            <img src="~/Images/product-details/product-detalis-s1.jpg" alt="">
                        </a>
                        <a data-image="~/Images/product-details/product-detalis-l2.jpg" data-zoom-image="~/Images/product-details/product-detalis-bl2.jpg">
                            <img src="~/Images/product-details/product-detalis-s2.jpg" alt="">
                        </a>
                        <a data-image="~/Images/product-details/product-detalis-l3.jpg" data-zoom-image="~/Images/product-details/product-detalis-bl3.jpg">
                            <img src="~/Images/product-details/product-detalis-s3.jpg" alt="">
                        </a>
                        <a data-image="~/Images/product-details/product-detalis-l4.jpg" data-zoom-image="~/Images/product-details/product-detalis-bl4.jpg">
                            <img src="~/Images/product-details/product-detalis-s4.jpg" alt="">
                        </a>
                        <a data-image="~/Images/product-details/product-detalis-l5.jpg" data-zoom-image="~/Images/product-details/product-detalis-bl5.jpg">
                            <img src="~/Images/product-details/product-detalis-s5.jpg" alt="">
                        </a>
                        <a data-image="~/Images/product-details/product-detalis-l2.jpg" data-zoom-image="~/Images/product-details/product-detalis-bl2.jpg">
                            <img src="~/Images/product-details/product-detalis-s2.jpg" alt="">
                        </a>
                    </div>
                    <span>-29%</span>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="product-details-content">
                    <h4>@Model.FirstOrDefault().ProductName</h4>
                    <div class="rating-review">
                        <div class="pro-dec-rating">
                            <i class="ion-android-star-outline theme-star"></i>
                            <i class="ion-android-star-outline theme-star"></i>
                            <i class="ion-android-star-outline theme-star"></i>
                            <i class="ion-android-star-outline theme-star"></i>
                            <i class="ion-android-star-outline"></i>
                        </div>
                        <div class="pro-dec-review">
                            <ul>
                                <li>@Model.FirstOrDefault().CustomerView Lượt xem</li>
                            </ul>
                        </div>
                    </div>
                    <span>@string.Format("{0:n0}", Model.FirstOrDefault().Price) VNĐ</span>
                    <div class="in-stock">
                        <p>Available: <span>In stock</span></p>
                    </div>
                    @if (Model.FirstOrDefault().Description.Count() > 100)
                    {
                        <p>@Html.Raw(Model.FirstOrDefault().Description.Substring(0, 100)) ... <a href="#" style="color:blue">Xem thêm</a></p>
                    }
                    <div class="quality-add-to-cart">
                        <div class="quality">
                            <label>Số lượng:</label>
                            <input class="cart-plus-minus-box" type="number" name="qtybutton" value="01" step="any">
                        </div>
                        <div class="shop-list-cart-wishlist">
                            <a href="" title="Thêm vào giỏ" class="btn-cart">
                                <i class="icon-handbag"></i>
                            </a>
                        </div>
                    </div>
                    <div class="pro-dec-categories">
                        <ul>
                            <li class="categories-title">Danh mục:</li>
                                <li> <a href="/products/listproduct/@Model.FirstOrDefault().IDCategory">@name</a></li>
                        </ul>
                    </div>
                    @*<div class="pro-dec-categories">
                        <ul>
                            <li class="categories-title">Tags: </li>
                            <li><a href="#"> Bouquet,</a></li>
                            <li><a href="#"> Event, </a></li>
                            <li><a href="#"> Gift,</a></li>
                            <li><a href="#"> Joy,</a></li>
                            <li><a href="#"> Love </a></li>
                        </ul>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<div class="description-review-area pb-70">
    <div class="container">
        <div class="description-review-wrapper">
            <div class="description-review-topbar nav text-center">
                <a class="active" data-toggle="tab" href="#des-details1">Description</a>
                <a data-toggle="tab" href="#des-details2">Tags</a>
                @*<a data-toggle="tab" href="#des-details3">Review</a>*@
            </div>
            <div class="tab-content description-review-bottom">
                <div id="des-details1" class="tab-pane active">
                    <div class="product-description-wrapper">
                        @Html.Raw(Model.FirstOrDefault().Description)
                    </div>
                </div>
                <div id="des-details2" class="tab-pane">
                    <div class="product-anotherinfo-wrapper">
                        <ul>
                            <li><span>Tag:</span></li>
                            <li> <a href="/products/listproduct/@Model.FirstOrDefault().IDCategory">@name</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-area pb-70">
    <div class="container">
        <div class="product-top-bar section-border mb-35">
            <div class="section-title-wrap">
                <h3 class="section-title section-bg-white">Sản phẩm liên quan khác</h3>
            </div>
        </div>
        <div class="featured-product-active hot-flower owl-carousel product-nav">
            @foreach (var item in lst)
            {
                if (item.IDCategory == Model.FirstOrDefault().IDCategory)
                {
                    <div class="product-wrapper">
                        <div class="product-img">
                            <a href="/products/details/@item.ID">
                                <img alt="" src="~/Images/product/avatar/@item.Avatar">
                            </a>
                            <div class="product-action">
                                <a class="action-wishlist" href="#" title="Wishlist">
                                    <i class="icon-heart"></i>
                                </a>
                                <a class="action-compare" href="/products/details/@item.ID" data-target="#exampleModal" data-toggle="modal" title="Quick View">
                                    <i class="icon-magnifier-add"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-content text-center">
                            <h4>
                                <a href="/products/details/@item.ID">@item.ProductName </a>
                            </h4>
                            <div class="product-price-wrapper">
                                <span>Giá: @string.Format("{0:n0}", item.Price) VNĐ</span>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</div>

<script type="text/javascript">
    var orderArr = [];
    const price = @Model.FirstOrDefault().Price;
    const proName = document.querySelector('div.product-details-content > h4').innerHTML;
    const avatar = document.querySelector('div.product-details-img > img').getAttribute('src');
    const avr = avatar.slice(avatar.lastIndexOf('/')).replace(/\//,'');

    $('a.btn-cart').click((e) => {
        e.preventDefault();
        const qty = document.querySelector('input[name=qtybutton]').value;
        const $ul = $('div.shopping-cart-content > ul');
        var dataOrder = JSON.parse(localStorage.getItem('order'));
        if(dataOrder != null) {
            orderArr = dataOrder;
            loStorage($ul, orderArr, qty);
        } else {
            loStorage($ul, orderArr, qty);
        }
    });

    var loStorage = ($ul, orderArr, qty) => {
        var obj = {};
        obj.date = new Date().toDateString();
        obj.ProductName = proName;
        obj.Price = price;
        obj.Avatar = avr;
        obj.Qty = qty;
        orderArr.push(obj);
        if (typeof (Storage) !== "undefined") {
            console.log(orderArr);
            localStorage.setItem('order', JSON.stringify(orderArr));
        } else {
            console.log("dont have local storage");
        }
        $ul.prepend(myLi(obj,(orderArr.length-1)));
        document.querySelector('span.count-style').innerText = (orderArr.length);
    }

    var myLi = (data,i) => {
        var $li = `<li class="single-shopping-cart" data-order="${i}">
                    <div class="shopping-cart-img">
                        <a href="#"><img alt="" src="Images/cart/${data.Avatar}"></a>
                    </div>
                    <div class="shopping-cart-title">
                        <h4><a href="#">${data.ProductName} </a></h4>
                        <h6>Qty: ${data.Qty}</h6>
                        <span>${data.Price}</span>
                    </div>
                    <div class="shopping-cart-delete">
                        <a class="delete" href=""><i class="ion ion-close"></i></a>
                    </div>
                </li>`;
        return $li;
    }

</script>
